<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- Device -->
    <category label="32001">
        <setting label="32002" type="lsep"/>
        <setting label="32003" type="labelenum" values="Denon|Pioneer" id="make" default="Pioneer" />
        <setting label="32004" type="labelenum" values="AVR-E400|AVR-X2000" id="denon_model" default="AVR-X2000" enabled="eq(-2,Denon)" visible="eq(-1,0)"/>
        <setting label="32004" type="labelenum" values="VSX-923" id="pioneer_model" default="VSX-923" enabled="eq(-1,Pioneer)" visible="eq(-2,1)" />

        <setting label="32005" type="lsep"/>
        <setting label="32006" type="ipaddress" id="ip" default="192.168.1.40"/>
        <setting label="32007" type="number" id="port" default="23"/>
        <setting label="32008" type="number" id="timeout" default="1"/>
        <setting label="32009" type="number" id="delay" default="1000"/>
    </category>
    <!-- Service -->
    <category label="32021">
        <setting label="32022" type="lsep"/>
        <!-- Change input on service start/stop -->
        <setting label="32023" type="text" id="service_input_start" default="SATCBL"/>
        <setting label="32024" type="bool" id="service_input_restore" default="true"/>
        <setting label="32025" type="text" id="service_input_stop" default="" enabled="eq(-1,false)"/>
        <!-- Additional commands on service start/stop -->
        <setting label="32026" type="lsep"/>
        <setting label="32027" type="text" id="service_start" default=""/>
        <setting label="32028" type="text" id="service_stop" default=""/>
    </category>
    <!-- Playback -->
    <category label="32041">
        <setting label="32042" type="text" id="playback_started" default=""/>
        <setting label="32043" type="text" id="playback_paused" default=""/>
        <setting label="32044" type="text" id="playback_resumed" default=""/>
        <setting label="32045" type="text" id="playback_ended" default=""/>
        <setting label="32046" type="text" id="playback_stopped" default=""/>
    </category>
</settings>
